<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark-blue">
    <ion-title>สมัครสมาชิก</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="background">
<ion-row [hidden]="!checkris">
    <ion-card class="a2">
        <ion-list>
          <p class="a1">
            <button type="button" ion-button round color="facebook" (click)="prev(1)">
                    <ion-icon name="person-add"></ion-icon>&nbsp;เจ้าของฟาร์ม</button>
            </p>
        </ion-list>
        </ion-card>
    </ion-row>
    <ion-row [hidden]="!checkris">
        <ion-card class="a3">
            <ion-list>
                <p class="a1">
                    <button type="button" ion-button round color="secondary" (click)="prev(2)">
                            <ion-icon name="person-add"></ion-icon>&nbsp;ผู้ใช้งานทั่วไป</button>
                    </p>
            </ion-list>
            </ion-card>
      </ion-row>
<div [hidden]="checkris">
    <form (ngSubmit)="reg(wikiForm)" #wikiForm="ngForm" >
    <ion-input type="hidden" name="count_login" ngModel="0"></ion-input>
      <ion-item>
          <ion-label floating>Username</ion-label>
          <ion-input type="text"class="mFont" name="user" ngModel></ion-input>
        </ion-item>

        <small style="background-color: white" [hidden]="check" class="atext">มีชื่อผู้ใช้นี้แล้ว</small>
        <ion-item>
          <ion-label floating>Password ( อย่างน้อย 6 ตัว)</ion-label>
          <ion-input type="password" class="mFont" name="pass" ngModel></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Confirm Password</ion-label>
          <ion-input type="password" class="mFont" name="cpass" ngModel></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>คำถามเมื่อลืมรหัสผ่าน</ion-label>
            <ion-input type="text" class="mFont" name="question" ngModel></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>คำถามตอบ</ion-label>
            <ion-input type="text" class="mFont" name="anwser" ngModel></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>ชื่อ</ion-label>
            <ion-input type="text" class="mFont" name="fname" ngModel #fname></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>นามสกุล</ion-label>
            <ion-input type="text" class="mFont" name="lname" ngModel></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>เพศ</ion-label>
            <ion-select ngModel="ชาย" name="gender">
                <ion-option value="ชาย">ชาย</ion-option>
                <ion-option value="หญิง">หญิง</ion-option>
              </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>ว/ด/ป เกิด</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="DD MMMM YYYY" cancelText="ยกเลิก" doneText="ยืนยัน" [(ngModel)]="date" name="day_of_birth"></ion-datetime>
            <!-- <ion-input type="date" name="day_of_birth" readonly ngModel="{{date}}"></ion-input> -->
            <!-- <button ion-button item-end type="button" ><ion-icon name="md-calendar" (click)="changdate()"></ion-icon></button> -->
        </ion-item>
        <ion-item>
            <ion-label floating>เบอร์โทร</ion-label>
            <ion-input type="text" class="mFont" name="phone_num" ngModel></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>รหัสบัตรประชาชน</ion-label>
            <ion-input type="pincode" pattern="\d{13}" maxlength="13" name="id_card" ngModel required></ion-input>
        </ion-item>
        <small style="background-color: white" [hidden]="check_id_card" class="atext">เลขบัตรประชาชนไม่ถูกต้อง</small>
        <ion-item>
            <ion-label floating>ที่อยู่</ion-label>
            <ion-input type="text" class="mFont" name="address" ngModel></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" class="mFont" name="email" ngModel></ion-input>
        </ion-item>
        <small [hidden]="checkEmail" class="atext">อีเมลหรือรหัสผ่านไม่ถูกต้อง</small>
        <ion-item>
            <ion-label floating>Fax.</ion-label>
            <ion-input type="text" class="mFont" name="fax" ngModel></ion-input>
        </ion-item>
    <br>
    <p align="center">
        <button type="button" ion-button round color="danger" (click)="back(true)">ย้อนกลับ</button>
    <button type="submit" ion-button round color="facebook">ยืนยัน</button>
      </p>
  </form>
</div>
</ion-content>

